In [7]:
import numpy as np
import pandas as pd

%precision 3
pd.set_option('precision',3)

df = pd.read_csv('data/ch2_scores_em.csv',index_col='生徒番号')

In [8]:
en_scores = np.array(df['英語'])[:10]
ma_scores = np.array(df['数学'])[:10]

scores_df=pd.DataFrame({'英語':en_scores,
                       '数学':ma_scores},index=pd.Index(['A','B','C','D','E','F','G','H','I','J'],name='生徒'))
scores_df

    英語  数学
生徒
A   42  65
B   69  80
C   56  63
D   41  63
E   57  76
F   48  60
G   65  81
H   49  66
I   65  78
J   58  82

In [9]:
summary_df = scores_df.copy()
summary_df['英語の偏差']=summary_df['英語']-summary_df['英語'].mean()
summary_df['数学の偏差']=summary_df['数学']-summary_df['数学'].mean()
summary_df['偏差同士の積']=summary_df['英語の偏差']*summary_df['数学の偏差']
summary_df

    英語  数学  英語の偏差  数学の偏差  偏差同士の積
生徒
A   42  65  -13.0   -6.4    83.2
B   69  80   14.0    8.6   120.4
C   56  63    1.0   -8.4    -8.4
D   41  63  -14.0   -8.4   117.6
E   57  76    2.0    4.6     9.2
F   48  60   -7.0  -11.4    79.8
G   65  81   10.0    9.6    96.0
H   49  66   -6.0   -5.4    32.4
I   65  78   10.0    6.6    66.0
J   58  82    3.0   10.6    31.8

In [10]:
summary_df['偏差同士の積'].mean()

62.8

In [11]:
cov_mat = np.cov(en_scores,ma_scores,ddof=0)
cov_mat

array([[86.  , 62.8 ],
       [62.8 , 68.44]])

In [12]:
cov_mat[0,1],cov_mat[1,0]

(62.800000000000004, 62.800000000000004)

In [13]:
cov_mat[0,0],cov_mat[1,1]

(86.0, 68.44000000000001)

In [14]:
np.cov(en_scores,ma_scores,ddof=0)[0,1]/(np.std(en_scores)*np.std(ma_scores))

0.8185692341186713

In [16]:
np.corrcoef(en_scores,ma_scores)

array([[1.   , 0.819],
       [0.819, 1.   ]])

In [17]:
scores_df.corr()

       英語     数学
英語  1.000  0.819
数学  0.819  1.000

In [19]:
import matplotlib.pyplot as plt
%matplotlib inline